*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.calculator{
    width: 20rem;
    height: 32rem;
    box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.3);
    background-color:rgb(137, 137, 137);
    overflow: hidden;
    border-radius: 1rem;
}

form input{
    width: 100%;
    height: 10rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: right;
    pointer-events: none;

}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.2rem;
}

button{
    flex: 0 0 22%;
    margin: 0.4rem 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
}

#equal{
    background-color: blue;
    color: white;
}

.btn-yellow{
    background-color: rgb(245, 146, 62);
    color: white;
}

.btn-grey{
    background-color: antiquewhite;
}
.btn-equal{
    background-color: whitesmoke;
}
.btn-clear{
    background-color: rgb(204, 16, 16);
}
.btn-slice{
    background-color: white;
}
































